* {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}
body {
    background: #cfd8dc;
}
p {
    padding-top: 3pt;
    padding-bottom: 3pt;
}

#page-header {
    background: linear-gradient(to bottom, #455a64, #cfd8dc); 
}
#li-profile-link {
    width: 35px;
}
#main-title, #sub-title {
    /* color: #37474f; */
    color: #1a237e;
    /* -webkit-text-stroke: 1px #fff59d;    */
}
#sub-title {
    font-size: 70%;
}
.top-nav {
    font-size: 16pt;
}
.sidebar-row {
    margin-bottom: 2px;
}
.project-title {
    color: #1a237e;
    font-weight: bold;
}

.sidenav {
    opacity: 0.85;
    padding: 15px;
}

.nav-dark {
    /* color: #37474f; */
    color: #ffee58;
}

.nav-dark:hover {
    color: #ffee58;
    text-decoration: underline;
}

.nav-light {
    color: #90caf9;
    padding-right: 24px;
}

.nav-light:hover {
    color: #fff59d;
    text-decoration: underline;
}

.card-footer {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
}

@media screen and (max-width: 600px) {
    .top-nav {
        margin-top: 0px;
        font-size: 12pt;
    }
    #main-title {
        font-size: 22pt;
    }
}